/* purgecss start ignore */
@keyframes anim-right-in {
  from {
    opacity: 0;
    transform-origin: left center;
    transform: scaleX(0.8) translateZ(0) translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: scaleX(1) translateX(0);
  }
}
@keyframes anim-right-out {
  from {
    opacity: 1;
    transform-origin: left center;
    transform: scaleX(1) translateX(0);
  }
  to {
    opacity: 0;
    transform: scaleX(0.8) translateZ(0) translateX(-1rem);
  }
}
@keyframes anim-left-in {
  from {
    opacity: 0;
    transform-origin: right center;
    transform: scaleX(0.8) translateZ(0) translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: scale(1) translateZ(0) translateX(0);
  }
}
@keyframes anim-left-out {
  from {
    opacity: 1;
    transform-origin: right center;
    transform: scaleX(1) translateZ(0) translateX(0);
  }
  to {
    opacity: 0;
    transform: scaleX(0.8) translateZ(0) translateX(-1rem);
  }
}
@keyframes anim-expand {
  from {
    opacity: 0;
    transform-origin: center top;
    transform: scaleY(0.8) translateZ(0) translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: scaleY(1) translateZ(0) translateY(0);
  }
}
@keyframes anim-shrink {
  from {
    opacity: 1;
    transform-origin: center top;
    transform: scaleY(1) translateZ(0) translateY(0);
  }
  to {
    opacity: 0;
    transform: scaleY(0.8) translateZ(0) translateY(-1rem);
  }
}
/* purgecss end ignore */
