/* purgecss start ignore */
@keyframes anim-right-in {
  from {
    opacity: 0;
    transform: scale(0.8) rotate3d(1, 0, 0, -180deg) translateZ(0) translateX(-2rem);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0) translateX(0rem);
  }
}
@keyframes anim-right-out {
  from {
    opacity: 1;
    transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0) translateX(0rem);
  }
  to {
    opacity: 0;
    transform: scale(0.8) rotate3d(1, 0, 0, -180deg) translateZ(0) translateX(-2rem);
  }
}
@keyframes anim-left-in {
  from {
    opacity: 0;
    transform: scale(0.8) rotate3d(1, 0, 0, -180deg) translateZ(0) translateX(-2rem);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0) translateX(0rem);
  }
}
@keyframes anim-left-out {
  from {
    opacity: 1;
    transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0) translateX(0rem);
  }
  to {
    opacity: 0;
    transform: scale(0.8) rotate3d(1, 0, 0, -180deg) translateZ(0) translateX(-2rem);
  }
}
@keyframes anim-expand {
  from {
    opacity: 0;
    transform: scale(0.8) rotate3d(1, 0, 0, -180deg) translateZ(0) translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0) translateY(0rem);
  }
}
@keyframes anim-shrink {
  from {
    opacity: 1;
    transform: scale(1) rotate3d(1, 0, 0, 0deg) translateZ(0) translateY(0rem);
  }
  to {
    opacity: 0;
    transform: scale(0.8) rotate3d(1, 0, 0, -180deg) translateZ(0) translateY(-2rem);
  }
}
/* purgecss end ignore */
